@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html {
    scroll-behavior: smooth;
    --scrollbarBG: #cfd8dc;
    --thumbBG: #30daa1;
  }

  h5 {
    @apply absolute px-10 duration-200 w-full bottom-4 md:bottom-8 md:px-20 group-hover:scale-110 group-hover:text-black;
  }
}

body::-webkit-scrollbar {
  width: 15px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  opacity: 0;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border: 3px solid white;
  border-radius: 100px;
}

.hero {
  background-image: url("../public/images/Web Development.jpeg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.qouteClrChange {
  filter: invert(9%) sepia(21%) saturate(718%) hue-rotate(88deg)
    brightness(122%) contrast(89%);
}

.item-container {
  @apply flex flex-col justify-between space-y-6 text-base md:text-2xl text-white uppercase md:flex-row md:space-y-0 md:space-x-8;
}

.item {
  @apply relative overflow-hidden;
}

.item-gradient {
  @apply absolute top-0 bottom-0 right-0 left-0 bg-gradient-to-b from-transparent to-gray-900  group-hover:opacity-70 group-hover:to-gray-400;
}

.moveLeft {
  @apply transform -translate-x-3/4 duration-500;
}
.moveRight {
  @apply transform translate-x-0 duration-1000;
}
.moveTextRight {
  @apply transform translate-x-[138%] sm:translate-x-[140%] translate-y-[-18%] xsm:translate-y-[-13%] sm:translate-y-[-10%] md:translate-y-[-3%] duration-500;
}
.moveTextLeft {
  @apply transform translate-x-0 opacity-0 duration-500;
}

.marginbottom {
  @apply mb-[1rem] leading-[2vw];
}

.slidein {
  @apply bg-green-600;
  transform: translateY(80px);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@keyframes spinner1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner1 {
  width: 100px;
  height: 100px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-bottom: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner1 4s linear infinite;
  text-align: center;
  font-size: 32px;
}

.moveupanimation {
  position: absolute;
  top: 0;
  left: 0;
  animation: 6s autoplay1;
  animation-delay: 3s;
}

@keyframes autoplay1 {
  0% {
    top: 0%;
  }
  100% {
    top: -100%;
  }
}

.typed {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 2.5s;
  animation-delay: 5s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateX(6px) translateY(6px);
  background-color: #fff;
}
.open .hamburger-bottom {
  transform: rotate(135deg) translateX(6px) translateY(-6px);
  background-color: #fff;
}
.open .hamburger-middle {
  display: none;
}
